

.navbar .navbar-brand {
  
    font-size: 30px;
    margin-left: 0%;
    font-weight: bold;
  
  }
  .navbar .btn-group .btn
   {
  text-decoration:none;
  color:#65000b;
  
   } 
  
   
  .forNavbar{
    margin-right: 40px;
    
  }
  
  body {
      font-family: "Lato", sans-serif;
    }
    
    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color:rgb(170,240,209);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #1b4d3e;
      display: block;
      transition: 0.3s;
    }
    
    .sidebar a:hover {
      color: #800000;
      font-size: 35px;
    }
    
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #f0fff0;
      color: #004225;
  
      border: none;
    }
    
    .openbtn:hover {
     color: black;
    }
    
    #main {
      transition: margin-left .5s;
      padding: 16px;
      
    }
    
    .services{
      background-color: #f0fff0;
         background-attachment: fixed;
      background-size: cover;
      }
      .services .row{
          height: 640px;
      }
      .services h2{
          padding: 50px 0;
          font-size: 45px;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 750;
      
      }
      .services .row .col-md-12{
          align-self: center;
          padding-left: 110px;
          text-align: center;
      }
      
      .services .card{
          width:500px;
          height: 600px;
          border-radius: 10px;
          background-color: #ffffff;
          background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

          align-self: center;
          align-items: center;
          margin-left: 30%;
  
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
      
      }
     .services .card .select_sub
    {
        margin-top: 30%;
        width: 50%;
        color: blue;

    }
    .services .card .select_num{
        margin-top: 5%;
        width: 50%;

    }
    .services .card .upload {
         margin-top:5% ;
         margin-left: 10%;
        font-family: 'Roboto Mono', monospace;
      }
    .services .card .sub_but .btn-success{
        align-self: center;
        background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        height: 80px;
        width: 80px;
        margin-top:50% ;
        border-radius: 40px;
        font-weight: bold;
        color: #de5d83;
    }
      
    
     
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
    }
    